@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
/* Humming Bird */

model-viewer {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    text-align: center;
    justify-content: end;
    vertical-align: middle;
}

.humming-bird {
    height: 100%;
    width: 100%;
}

/* General Styles */

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
iframe {
    margin: 0px;
    z-index: 0;
    cursor: grab;
}

#overlay {
    position: absolute;
    z-index: 2;
    bottom: 0%;
    left: 80%;
    text-align: center;
    justify-content: end;
    vertical-align: middle;

    /* background-color: blueviolet; */
    height: 100%;
    width: 175px;
}

/* Icons */
li {
    list-style-type: none;
    position: relative;
    bottom: 500px;
    display: inline-block;
}

i {
    color: white;
    position: relative;
}

/* .nav-1 {
    font-size: 2em;
    bottom: 125px;
    right: 45px;
}

.nav-2 {
    font-size: 2em;
    bottom: 15px;
    right: 65px;
}

.nav-3 {
    font-size: 2em;
    top: 95px;
    right: 100px;
}

.nav-4 {
    font-size: 2.1em;
    top: 166.5px;
    right: 75px;
}

.nav-5 {
    font-size: 2.2em;
    top: 230px;
    right: 75px;
    position: relative;
} */

/* Span Text */

a {
    text-decoration: none;
}

span {
    text-transform: uppercase;
    color: white;
    font-family: 'Heebo', sans-serif;
    position: relative;
    font-weight: 900;
    font-size: 22px;
}

.text-nav-1 {
    bottom: 127.5px;
    right: 45px;
} 

.text-nav-1::after {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: normal;

    margin-left: 8px;
    position: absolute;
    font-size: 1.5em;
    transition: all 1.5s;
}

.text-nav-1:hover::after {
    content: "\f192";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;

    margin-left: 8px;
    position: absolute;
    font-size: 1.5em;
}

.text-nav-2 {
    bottom: 10px;
    left: 85px;
}

.text-nav-2:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: normal;

    margin-right: 5px;
    position: absolute;
    font-size: 1.5em;
    right: 100px;
    transition: all 1.5s;
}

.text-nav-2:hover:before {
    content: "\f192";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;

    margin-right: 5px;
    position: absolute;
    font-size: 1.5em;
    right: 100px;
}

.text-nav-3 {
    top: 102.5px;
    right: 100px;
} 

.text-nav-3:after {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: normal;

    position: absolute;
    font-size: 1.5em;
    margin-left: 8px;
    transition: all 1.5s;
}

.text-nav-3:hover:after {
    content: "\f192";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;

    position: absolute;
    font-size: 1.5em;
    margin-left: 8px;
}

.text-nav-4 {
    top: 180px;
    left: 95px;
} 

.text-nav-4:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: normal;

    margin-right: 5px;
    position: absolute;
    font-size: 1.5em;
    right: 145px;
    transition: all 1.5s;
}

.text-nav-4:hover:before {
    content: "\f192";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;

    margin-right: 5px;
    position: absolute;
    font-size: 1.5em;
    right: 145px;
}

.text-nav-5 {
    top: 250px;
    right: 85px;
} 

.text-nav-5:after {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: normal;

    position: absolute;
    font-size: 1.5em;
    margin-left: 8px;
    transition: all 1.5s;
}

.text-nav-5:hover:after {
    content: "\f192";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;

    position: absolute;
    font-size: 1.5em;
    margin-left: 8px;
}

a span.active-e::after {
    content: "\f192";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;

    margin-left: 8px;
    position: absolute;
    font-size: 1.5em;
}

a span.active-s:before {
    content: "\f192";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;

    margin-right: 5px;
    position: absolute;
    font-size: 1.5em;
}

